body {
    font-size: medium;
    font-family: monospace;
    line-height: 1.5;
    background-color:rgb(36, 36, 36);
    color: rgb(220, 238, 255);
}

h2 {
    color: rgba(255, 0, 0, 0.7)
}

p {
    color: #ffffff;
}