* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin-left: 20%;
    margin-right: 20%;
    font-family: monospace;
    line-height: 1.1;
    background-color:rgb(36, 36, 36);
    color: rgb(220, 238, 255);
    min-height: 100vh;
}

.container {
    border: 2px dashed red;
    padding: 1em;
    font-size: 1.1rem;
    margin: 1em;
    color: rgba(255, 0, 0, 0.7)
}

p {
    color: #ffffff;
    font-size: 1.5rem;
    width: 40ch;
}